{% load static %}

<!-- jquery -->
<script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
<!-- jquery -->

<!-- bootstrap -->
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<!-- bootstrap -->

<!-- count down -->
<script src="{% static 'js/jquery.countdown.js' %}"></script>
<!-- count down -->

<!-- isotope -->
<script src="{% static 'js/jquery.isotope-3.0.6.min.js' %}"></script>
<!-- isotope -->

<!-- waypoints -->
<script src="{% static 'js/waypoints.js' %}"></script>
<!-- waypoints -->

<!-- owl carousel -->
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<!-- owl carousel -->

<!-- magnific popup -->
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<!-- magnific popup -->

<!-- mean menu -->
<script src="{% static 'js/jquery.meanmenu.min.js' %}"></script>
<!-- mean menu -->

<!-- sticker js -->
<script src="{% static 'js/sticker.js' %}"></script>
<!-- sticker js -->

<!-- main js -->
<script src="{% static 'js/main.js' %}"></script>
<!-- main js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.min.js"></script>
