<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

	<!-- title -->
	<title>
        {% block title %}
        {% endblock title %}
    </title>
    <!--styles-->
    {% include 'components/_styles.html' %}
    <!--styles-->
</head>
<body>
    <!--navbar-->
    {% include 'components/_navbar.html' %}
    <!--navbar-->

    {% include 'components/_main_part.html' %}

   {% block main %}
	{% endblock main %}

    <!-- logo carousel -->
    <div class="logo-carousel-section mb-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="logo-carousel-inner">
                        <div class="single-logo-item">
                            <img src="{% static 'img/company-logos/1.png' %}" alt="logo1">
                        </div>
                        <div class="single-logo-item">
                            <img src="{% static 'img/company-logos/2.png' %}" alt="logo2">
                        </div>
                        <div class="single-logo-item">
                            <img src="{% static 'img/company-logos/3.png' %}" alt="logo3">
                        </div>
                        <div class="single-logo-item">
                            <img src="{% static 'img/company-logos/4.png' %}" alt="logo4">
                        </div>
                        <div class="single-logo-item">
                            <img src="{% static 'img/company-logos/5.png' %}" alt="logo5">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end logo carousel -->

    {% include 'components/_footer.html' %}
    {% include 'components/_scripts.html' %}
</body>
</html>